
@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/foundation-icons/foundation-icons.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
    font-size: 14pt;
    line-height: 24pt;
    color: #fff;
    background-color: #7aa9c8;
    letter-spacing: 0.175em;
}

.avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
    position: relative;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.62);
    border: solid white 2px;
    width: 200px;
    height: 200px;
}

.avatar.me {
    background-image: url('../assets/img/avatar.jpg');
}

.bg {
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(0.75) brightness(0.75) blur(3px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container > section {
    max-width: 80%;
    width: 640px;
    text-align: center;
    margin: 20px;
}

.container > hr {
    border-top: 1px solid;
    max-width: 80%;
    width: 500px;
    border-bottom: 0;
    opacity: 0.125;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-container > .icon {
    margin: 0px 8px;
}

a.icon,
a.icon:visited,
a.icon:active,
a.icon:focus,
a.icon:hover {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    outline: none;
    border-radius: 50%;
    border: none;
    width: 48px;
    height: 38px;
    background-color: transparent;
    text-align: center;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-top: 8px;
}

a.icon:hover {
    background-color: hsla(0,0%,100%,.25);
    border: 1px solid rgba(255,255,255,0.25);
    width: 46px;
    height: 36px;
    padding-top: 7px;
}

.fadein {
    opacity: 0;

    -webkit-animation: fadein 2s ease forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s ease forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s ease forwards; /* Internet Explorer */
         -o-animation: fadein 2s ease forwards; /* Opera < 12.1 */
            animation: fadein 2s ease forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
