
@import '../node_modules/normalize.css/normalize.css';

html, body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-size: 14pt;
    line-height: 24pt;
    color: #fff;
    background-color: #7aa9c8;
    letter-spacing: 0.10em;
}

.avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
    position: relative;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.62);
    border: solid white 2px;
    width: 200px;
    height: 200px;
}

.avatar.me {
    background-image: url('../assets/img/avatar.jpg');
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container > section {
    max-width: 80%;
    width: 640px;
    text-align: center;
    margin: 20px;
}

.container > hr {
    border-top: 1px solid;
    max-width: 80%;
    width: 500px;
    border-bottom: 0;
    opacity: 0.125;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-container > .icon {
    margin: 0px 8px;
}

a.icon,
a.icon:visited,
a.icon:active,
a.icon:focus,
a.icon:hover {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    outline: none;
    border-radius: 50%;
    border: none;
    width: 48px;
    height: 38px;
    background-color: transparent;
    text-align: center;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-top: 8px;
}

a.icon:hover {
    background-color: hsla(0,0%,100%,.25);
}

.perf-container {
    display: flex;
    justify-content: flex-end;
    width: 9%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .9
}

.perf-container .perf-placeholder {
    flex-grow: 100;
    transition: flex-grow .5s ease-out;
    background-color: #7aa9c8;
}

@import '../node_modules/foundation-icons/foundation-icons.css';
